// Headers, general BEM blocks, etc...

// Buttons
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(220);
  height: rem(80);

  font-weight: 700;
  text-align: center;

  border-radius: rem(16);

  transition: 0.3s;

  & a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  &-first {
    color: $whiteColor;
    background-color: $mainColor;

    &:hover {
      background-color: $darkGrayColor;
    }
  }

  &-second {
    background-color: $yellowColor;

    &:hover {
      background-color: $greenColor;
      color: $whiteColor;
    }
  }

  &-third {
    border: 2px solid $mainColor;

    &:hover {
      background-color: $darkGrayColor;
      color: $whiteColor;
    }
  }
}

// Block heading
.block-heading {
  &__subtitle {
    font-size: $h4-heading;
    line-height: 165%;
    font-family: $yellowtailFamily;
    color: $greenColor;
  }

  &__title {
    font-size: $h2-heading;
    line-height: 120%;
    font-family: $robotoFamily;
    font-weight: 800;
  }

  &__text {
    line-height: 165%;
    color: $darkGrayColor;
  }
}

// Product item
.product-item {
  width: 100%;
  max-width: rem(335);

  background-color: $whiteColor;
  border: 3px solid $mainColor;
  border-radius: rem(30);

  transition: 0.3s;

  &:hover {
    transform: translateY(rem(-15));
  }

  &__type {
    display: inline-block;
    margin: rem(30);
    padding: rem(5) rem(12);

    font-size: rem(15);
    color: $whiteColor;

    background-color: $mainColor;
    border-radius: rem(8);
  }

  &__image {
    width: 100%;
    height: rem(324);
  }

  &__info {
    width: 100%;
    max-width: rem(280);
    margin: rem(30) auto rem(17) auto;
    padding: 0 rem(20);
  }

  &__title {
    font-size: rem(20);
    font-weight: 600;
    color: $mainColor;
  }

  &__price {
    display: inline-flex;
    align-items: center;

    width: 100%;
    margin-top: rem(15);
    padding-top: rem(6);

    font-weight: 700;
    border-top: 1px solid $grayColor;

    &::before {
      width: 100%;
      text-align: right;
      order: 3;
      font-size: rem(22);
    }
  }

  &__discount {
    padding-right: rem(8);

    text-decoration: line-through;
    font-size: rem(15);
    font-weight: 600;
    color: #B8B8B8;
  }
}

.main-heading {
  position: relative;
  @include adaptiveValue("height", 450, 300);

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__container {
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    white-space: nowrap;
    font-size: $h1-display;
    font-family: $robotoFamily;
    font-weight: 800;
  }
}

.product-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(30);
  
  @media (max-width: rem(1140)) {
    & {
      flex-direction: column;
    }
  }

  &__photo {
    position: relative;
    flex: 1 1 40%;
    max-width: rem(600);
    max-height: rem(600);
  }

  .product-item__type {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__details {
    flex: 1 1 40%;
    @include adaptiveValue("margin-left", 60, 15);
    @include adaptiveValue("margin-right", 60, 15);
  }

  &__title {
    font-size: $h3-heading;
    font-family: $robotoFamily;
    font-weight: 600;
    content: $mainColor;

    @media (max-width: rem(400)) {
      & {
        font-size: $h4-heading;
      }
    }
  }

  .product-item__price {
    position: relative;
    padding-top: rem(25);

    border: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      order: -1;
      width: 100%;

      text-align: left;
      font-size: rem(18);
    }
  }

  .product-item__discount {
  }

  &__text {
    max-width: rem(660);
    margin: rem(28) 0 rem(35) 0;
    line-height: 165%;
  }

  &__order {
    display: flex;
    align-items: center;
    gap: rem(20);
    
    @media (max-width: rem(570)) {
      & {
        flex-direction: column;
      }
    }
  }

  &__quantity {
    font-size: rem(20);
    font-family: $robotoFamily;
    font-weight: 700;
    color: $mainColor;
  }

  &__input {
    width: rem(135);
    height: rem(80);
    margin-left: rem(22);

    text-align: center;
    font-size: rem(20);
    font-family: $robotoFamily;
    font-weight: 700;
    color: $mainColor;

    outline: 2px solid $mainColor;
    border-radius: rem(16);

    &::placeholder {
      color: $mainColor;
      transition: 0.3s;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  .button {
    @media (max-width: rem(570)) {
      & {
        width: 100%;
      }
    }
  }
}

.general-info {
  margin: 0 rem(30);

  &__selection {
    display: flex;
    justify-content: center;
    gap: rem(20);

    @media (max-width: rem(750)) {
      & {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .button {
    width: 100%;
    font-size: $h6-heading;

    &:nth-of-type(1) {
      max-width: rem(360);
    }

    &:nth-of-type(2) {
      max-width: rem(310);
      color: $mainColor;
      background-color: $lightGreenColor;

      &:hover {
        background-color: $mainColor;
        color: $whiteColor;
      }
    }

    @media (max-width: rem(750)) {
      & {
        max-width: 100% !important;
      }
    }
  }

  &__text {
    max-width: rem(1140);
    margin: rem(28) auto 0 auto;

    text-align: center;
    line-height: 165%;
  }
}





