//====================================================================================================
.page {
  &__shop {
  }
}

.categories-block {
  &__container {
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: rem(20);

    margin-bottom: 0;
  }

  .product-item {
    &__type {
    }

    &__image {
    }

    &__info {
    }

    &__title {
    }

    &__price {
    }

    &__discount {
    }
  }
}

//====================================================================================================
